.markdown_page
{
  margin-top: -1.5em;
  margin-bottom: 0.8em;
  margin-left: 0.8em;
  margin-right: 0.8em;
  padding: 10px;
  font-family: 'Courier New', 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  color: inherit;
  text-indent: 6px;
  letter-spacing: -1px;
}
.markdown_title
{
  margin-bottom: -0.6em;
  margin-left: 0.8em;
  font-size: 2em;
  font-weight: bold;
  color: inherit;
}

.markdown_list_title
{
  margin-top: 0.3em;
  margin-bottom: 0;
  margin-left: 0.8em;
  font-size: 1.5em;
  font-weight: bold;
  color: inherit;
}

.markdown_text
{
  padding-right: 3%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0.8em;
  margin-right: : 0.8em;
  font-size: 1em;
  font-weight: normal;
  color: inherit;
}
img.screenshot
{
    margin-top: 1em;
    margin-left: inherit;
    margin-right: inherit;
    width:95%;
}

.markdown_line
{
  margin-top: -1em;
  margin-bottom: 2em;
  border-bottom: 4px dotted;
  border-color: #FFFFFF;
  width: inherit;
}
